table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: aqua;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: aquamarine;
    
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }